#Calculator{
    padding: 5px;
    width: 240px;
    border:1px solid rgb(116, 113, 113);
   border-radius: 5px;
   background-color: lavender;
   
}
#display{
    background-color: beige;
    margin: 15px;
    width: 85%;
    font-size: 40px;
    border: 2px solid rgb(76, 85, 94);
}
.button-container{
   
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.button{
    margin: 5px;
    height: 55px;
    width: 55px;
}
.button:hover{
    color: teal ;
    background-color: rgb(153, 148, 148);
}
